h1, h2 {
    font-family: Lato;
  }

  .hidden {
    display: none;
  }

  .container {
    max-width: 640px;
    margin: 20px auto;
  }

  img {
    max-width: 100%;
  }

  .slider-val-area {
    width: 50%;
    padding: 10px 15px 0 10px
  }

  .slider-val-area #min-zoom-val {
    float: left;
  }

  .slider-val-area #max-zoom-val {
    float: right;
  }